@import "tailwindcss";
/* Hides the reCAPTCHA floating badge */
.grecaptcha-badge { 
  visibility: hidden !important; 
}
body{
  background: rgb(232, 232, 232);
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-bg {
  background-size: 300% 300%;
  animation: gradientMove 18s ease infinite;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-bg {
  background-size: 300% 300%;
  animation: gradientMove 18s ease infinite;
}
